In [1]:
import pandas as pd
import glob

##### Unificando tabelas de treino e checando merge

In [2]:
csv_files = glob.glob("../../data/files/treino/treino_parte*.csv")
df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)
ranking = 5

In [3]:
len(df)

577942

##### Maiores historySize - Quantidade de notícias lidas pelo usuário

In [4]:
df_sorted = df.sort_values(by=["historySize"], ascending=False)
df_sorted[['userId', "userType", 'historySize']].head(ranking)

,userId,userType,historySize
533750,1b9bf55cf5c0d7ba34e8925dbbc98da17c5ab360d907c5...,Non-Logged,7004
247719,1f7a8e71d6d871e6a77f193c0cece8a6ebcd304dcfddcc...,Logged,5907
151786,83a2ba48f07e49f33ef4aa3ceb90933f9adff1ddb6ed16...,Non-Logged,4914
486620,d3b82a1305105bcaaa646d2da1e97b6935deddbcfbd12b...,Logged,3580
36184,9d176e2202250e7925b17eae0978eee726f8ff9372e45c...,Non-Logged,3318

##### Maiores scrollPercentageHistory - Quanto o usuário visualizou a matéria

In [5]:
df["scrollPercentageHistory"] = df["scrollPercentageHistory"].apply(
    lambda x: list(map(float, str(x).split(", "))) if pd.notna(x) and isinstance(x, str) else []
)
df["total_scroll_percentage_history"] = df["scrollPercentageHistory"].apply(sum)
df_sorted = df.sort_values(by=["total_scroll_percentage_history"], ascending=False)
df_sorted[["userId", "userType", "total_scroll_percentage_history"]].head(ranking)

,userId,userType,total_scroll_percentage_history
68873,cca2e866b5d825a7eeb3a287555534723efc0c0cf81234...,Logged,11751488.84
38931,4652330eeae47136b839bbc18c87884b0e887087503f27...,Non-Logged,11405887.41
479107,f31d834f7c2b054f1c6f969c454c648e683703e52feeb5...,Logged,7829810.85
422557,3c4e2fe5aa28a81ac83742d643dc23e02470b02cee1b73...,Logged,5095827.05
222578,bdc76c1d65785651012c6ea4d46b7702142152a9c5cd36...,Non-Logged,3812727.20

##### Maiores pageVisitsCountHistory - Quantidade de vezes que o usuário visitou a matéria

In [6]:
df_sorted = df.sort_values(by=["pageVisitsCountHistory"], ascending=False)
df_sorted[['pageVisitsCountHistory']].head(ranking)


df["pageVisitsCountHistory"] = df["pageVisitsCountHistory"].apply(lambda x: list(map(int, str(x).split(", "))))
df["total_visits_count"] = df["pageVisitsCountHistory"].apply(sum)
df_sorted = df.sort_values(by=["total_visits_count"], ascending=False)
df_sorted[["userId", "userType", "total_visits_count"]].head(ranking)

##### Maiores numberOfClicksHistory - Quantidade de clicks na matéria

In [ ]:
df["numberOfClicksHistory"] = df["numberOfClicksHistory"].apply(lambda x: list(map(int, str(x).split(", "))))
df["total_clicks"] = df["numberOfClicksHistory"].apply(sum)
df_sorted = df.sort_values(by=["total_clicks"], ascending=False)
df_sorted[["userId", "userType", "total_clicks"]].head(ranking)

,userId,userType,total_clicks
36184,9d176e2202250e7925b17eae0978eee726f8ff9372e45c...,Non-Logged,249762
334521,1518efc56a5fae0b5c39f63642d6328b4b78258593ed7a...,Non-Logged,105811
181734,f25eea1d43f1940495890092a0dd5d7fab439e2a44b4ee...,Non-Logged,104127
222479,e1c4dcde21fa30028f8f54d83a5c4f0ae22cdb6c1e5190...,Logged,98938
13918,259b0acfe1939ae84ccfd2c2534af29481e0a36d326423...,Non-Logged,83237

##### Número de usuários não logados e usuários logados

In [ ]:
user_type_counts = df["userType"].value_counts()
logged = user_type_counts.get('Logged', 0)
non_logged = user_type_counts.get('Non-Logged', 0)

formatted_logged = "{:,.0f}".format(logged).replace(",", ".")
formatted_non_logged = "{:,.0f}".format(non_logged).replace(",", ".")

print(f"Logged: {formatted_logged}")
print(f"Non Logged: {formatted_non_logged}")

Logged: 119.086
Non Logged: 458.856